// app global css in SCSS form

body {
  font-family: 'Josefin Sans';
}
p {
  font-size: 18px;
}
a {
  color: $secondary;
  text-decoration: $secondary;
}

// Content boxes
.card-shadow {
  box-shadow: 0px -5px 7px 0 rgba(0, 0, 0, 0.08),
    0px 5px 7px 0 rgba(0, 0, 0, 0.08);
}

// Lightbox
.toolbar-btn__rotate {
  display: none;
}
@media (min-width: $breakpoint-md-min) {
  .btn__prev {
    font-size: 80px !important;
  }
  .btn__next {
    font-size: 80px !important;
  }
}

.vel-modal .vel-img-wrapper {
  top: calc(45% + 0px) !important;
}
.vel-modal {
  background: rgba(0, 0, 0, 0.75) !important;
}
.vel-btns-wrapper .vel-img-title {
  white-space: normal;
  font-weight: 600;
  font-size: 14px;
  color: white;
  line-height: 1.5em;
  bottom: 30px;
}
div.vel-toolbar {
  display: none;
}

@media only screen and (max-width: 800px) {
  .vel-img-title {
    width: 360px;
  }
}

// Scrollbar visibility on blog page
#blog-page .q-scrollarea__thumb {
  color: red;
}
